{%load static%}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Join Us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="assets/css/nice-select.css"> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{%static 'lib/bootstrap/css/bootstrap.min.css'%}">

    <link rel="stylesheet" href="{%static 'assets/css/slicknav.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/flaticon.css'%}">
    <!-- Animate css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
    {%block stylesheet%}
    {%endblock%}
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="https://happyscan.in/"><img src="https://happyscan.in/static/assets/img/logo/happy-scan-logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                       
                                                <li><a href="https://happyscan.in/">Home</a></li>
                                                <li><a href="https://happyscan.in/packages">Package</a></li>
                                                <li><a href="https://happyscan.in/features">Features</a></li>
                                                <li><a href="https://happyscan.in/contact">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <!-- <div class="header-right-btn d-none d-lg-block ml-30">
                                        <a href="contact.html" class="btn header-btn">Get Started</a>
                                    </div> -->
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->
    {%block content%}
    {%endblock%}
    <footer>
        <!--? Footer Start-->
        <div class="footer-area section-bg" data-background="assets/img/gallery/footer_bg.png">
            <div class="container">
                <!-- Brand Area End -->
                <div class="footer-top p-5">
                    <div class="row d-flex justify-content-between">
                        <div class="col-lg-4 col-md-5 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p class="info1">Get in touch with us.</p>
                                    </div>
                                </div>
                                <div class="footer-number">
                                    <h4><span>+91 </span>9047281212</h4>
                                    <p>contact@buyp.in</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Our Support</h4>
                                    <ul>
                                        <li><a href="https://happyscan.in/terms_conditions">Terms And Conditions</a></li>
                                        <li><a href="https://happyscan.in/privacy_policy"> Privacy Policy</a></li>
                                        <li><a href="https://happyscan.in/cancellation_policy">Cancellation Policy</a></li>
                                        <li><a href="https://happyscan.in/#">Return And Refund Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Link</h4>
                                    <ul>
                                        <li><a href="https://happyscan.in/">Home</a></li>
                                        <li><a href="https://happyscan.in/packages">Packages</a></li>
                                        <li><a href="https://happyscan.in/features">Features</a></li>
                                        <li><a href="https://happyscan.in/contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved - Product of <a href="https://buyp.in/" target="_blank">BUYP</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="https://twitter.com/buyptech"><i class='bx bxl-twitter'></i></a>
                                <a href="https://www.facebook.com/buyp/"><i class='bx bxl-facebook-circle'></i></a>
                                <a href="https://buyp.in/"><i class='bx bx-globe' ></i></a>
                                <a href="https://www.instagram.com/buyptechnologies/"><i class='bx bxl-instagram-alt' ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

    <!-- Jquery -->
    <script src="{%static 'lib/jquery/jquery-3.6.0.min.js'%}"></script>
    <!-- Bootstrap js -->
    <script src="{%static 'lib/bootstrap/js/bootstrap.min.js'%}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{%static 'assets/js/jquery.slicknav.min.js'%}"></script>

    <script src="{%static 'assets/js/main.js'%}"></script>

    {%block script%}
    {%endblock%}
    </body>
</html>