{%extends 'base/non_auth_base.html'%}
{%block title%}
    Check Your mail
{%endblock%}
{%block stylesheet%}
    <style>
        .vertical-center {
            min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */
          
            display: flex;
            align-items: center;
          }
    </style>
{%endblock%}
{% block content %}

  <div class="container vertical-center">
      <div class="mx-auto w-50 bg-white shadow p-4 text-center">
        <h4 class="font-weight-bold mt-3 text-muted text-center"><i class='bx bxs-check-square'></i> Mail Sent! Check your inbox and please confirm your mail.</h4>
        <a href="{%url 'dashboard'%}" class="btn btn-primary mt-4">Go Home</a>
      </div>
  </div>

{% endblock %}