{%extends 'base/non_auth_base.html'%}
{%block title%}
    Reset Password
{%endblock%}
{%block stylesheet%}
    <style>
        .vertical-center {
            min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */
          
            display: flex;
            align-items: center;
          }
    </style>
{%endblock%}
{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container vertical-center">
        <div class="mx-auto w-50 bg-white shadow p-4">
            <h2 class="font-weight-bold mt-3">Reset Password</h2>
         <hr>
         {%for message in messages%}
             {%if message%}
             <div class="alert alert-{{message.tags}}">
                 {{message}}
             </div>
         {%endif%}
         {%endfor%}
         <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
         <form method="POST" autocomplete="off">
             {% csrf_token %}
             {{ form|crispy }}                    
             <button class="btn btn-primary float-right" type="submit">Send email</button>
         </form>
       </div> 
    </div>

{% endblock %}