{%extends 'base/non_auth_base.html'%}
{%block title%}
    Reset Password
{%endblock%}
{%block stylesheet%}
    <style>
        .vertical-center {
            min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */
          
            display: flex;
            align-items: center;
          }
    </style>
{%endblock%}
{% block content %}

{% load crispy_forms_tags %}  

<!--Password Reset Confirm-->
  <div class="container vertical-center">
      <div class="mx-auto w-50 bg-white shadow p-4">
        <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
        <hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
      </div>
  </div>

{% endblock %}