{%extends 'base/non_auth_base.html'%}
{%block title%}
    Reset Done.
{%endblock%}
{%block stylesheet%}
    <style>
        .vertical-center {
            min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */
          
            display: flex;
            align-items: center;
          }
    </style>
{%endblock%}
{% block content %} 
  
<!--Password Reset Complete-->
  <div class="container vertical-center">
      <div class="mx-auto w-50 bg-white shadow p-4">
        <h2 class="font-weight-bold mt-3">Password reset complete</h2>
        <hr>
        <p>Your password has been set. You may go ahead and log in now.</p>                 
        <a href="{%url 'accounts-login'%}" class="btn btn-primary">Log in</a>
      </div>
  </div>

{% endblock %}