{%extends 'base/non_auth_base.html'%}
{%block title%}
    Email Sent
{%endblock%}
{%block stylesheet%}
    <style>
        .vertical-center {
            min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */
          
            display: flex;
            align-items: center;
          }
    </style>
{%endblock%}
{% block content %}

	<!--Password reset sent-->
	<div class="container vertical-center">
  		<div class="mx-auto w-50 bg-white shadow p-4">
			<h2 class="font-weight-bold mt-3">Password reset sent</h2>
			<hr>
			<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p> 
		</div>
  	</div>

{% endblock %}