{%extends 'base/base.html'%}
{%block content%}
    <div class="container-fluid pt-4">
        <div class="d-flex align-items-center mb-5">
            <h3 class="mr-auto">QR Builder</h3>
            <!-- <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                <a href="{%url 'dashboard'%}" class="btn btn-dark text-lightgrey">Home <i class="bi bi-caret-right-fill"></i></a>
                <a href="#" class="btn btn-dark">QR Builder</a>
            </div> -->
            <a id="live_preview" class="btn btn-primary btn-lg ml-2" href="{%url 'qrmenu-category_list' unique_id=restaurant.unique_id name=restaurant.name %}"target="_blank" rel="noopener noreferrer" > Live Preview <i class='bx bx-mobile'></i></a> 
        </div>

        <div class="row mt-2">
            <div class="col-sm-4">
               
            </div>
            <div class="col-sm-4">
                <div class="card border-0 shadow">
                    <h5 class="card-header border-0 bg-white shadow-sm">
                        <span class="text-primary"><i class='bx bx-qr-scan'></i></span> QR Code</h5>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid" src='{{img_str}}'/>
                        </div>
                    </div>
                    <div class="card-footer border-0 bg-white">
                        <a download="{{restaurant.name}}qr-code.png" href="{{img_str}}" class="btn btn-primary"><i class='bx bxs-download'></i> Download Image</a>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-4 text-right">
                
            </div>
        </div>
    </div>
{%endblock%}
{%block script%}
    <script>
        var h = screen.height;
        $('#live_preview').click(function(e){
            window.open(this.href, 'Preview',
                'left=0,top=0,width=420,height='+h+',toolbar=1,resizable=0');
            e.preventDefault();
        })
    </script>
{%endblock%}