{%extends 'base/base.html'%}
{%block content%}
    <div class="container-fluid pt-4">
        <div class="d-flex align-items-center mb-5">
            <h3 class="mr-auto">Support</h3>
            <button class="btn btn-primary"  data-toggle="modal" data-target="#enquiryModal">Add Enquiry</button>
        </div>
        <!--Query Modal Form-->
        <div class="modal fade" id="enquiryModal" tabindex="-1" aria-labelledby="enquiryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="enquiryModalLabel">Add Query</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            {%csrf_token%}
                            <label for="id_question">Enter your Query</label>
                            <textarea name="question" id="id_question" class="form-control" maxlength="200" cols="30" rows="5" style="resize: none;"></textarea>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                </form>
            </div>
            </div>
        </div>
        
        <div class="table-responsive-sm">
            <table class="table bg-white shadow">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Question</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                    {%for enquiry in enquiries%}
                    <tr>
                        <th>{{enquiry.date}}</th>
                        <td>{{enquiry.question}}</td>
                        <td>{{enquiry.status}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
{%endblock%}