{%extends 'base/admin_base.html'%}
{%load static%}
{%block content%}


    <div class="container-fluid pt-4">
        <div class="d-flex align-items-center mb-5">
            <h3 class="mr-auto">Accounts</h3>
            <!-- <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                <a href="{%url 'dashboard'%}" class="btn btn-dark text-lightgrey">Home <i class="bi bi-caret-right-fill"></i></a>
                <a href="#" class="btn btn-dark">Dashboard</a>
            </div> -->
        </div>
        
    </div>
{%endblock%}