{%extends 'base/admin_base.html'%}
{%load static%}
{%load custom_filters%}
{%block title%}Dashboard | Admin{%endblock%}
{%block content%}
    <div class="container-fluid pt-4">
        <div class="d-flex align-items-center mb-5">
            <h3 class="mr-auto">Dashboard</h3>
        </div>
        <div class="row g-2">
            <div class="col-sm col-md mt-2 bg-white shadow-sm">
                <div class="d-flex align-items-center p-3">
                    <div>
                        <p class="text-muted">Total Users</p>
                        <h5>{{total_users}}</h5>
                    </div>
                    <div class="ml-auto  rounded" style="width: 50px; height: 50px; background-color: #FEE3EC;">
                        <h1 class="m-0 text-center" style="line-height: 60px; color: #FF87CA;">
                            <i class='bx bx-group'></i>
                        </h1>
                    </div>
                </div>
                
            </div>
            <div class="col-sm col-md offset-sm-1 mt-2 bg-white shadow-sm">
                <div class="d-flex align-items-center p-3">
                    <div>
                        <p class="text-muted">Active Users</p>
                        <h5>{{active_users}}</h3>
                    </div>
                    <div class="ml-auto rounded" style="width: 50px; height: 50px; background-color: #DDFFBC;">
                        <h1 class="m-0 text-center text-success" style="line-height: 60px;">
                            <i class='bx bx-user-check'></i>
                        </h1>
                    </div>
                </div>
                
            </div>
            <div class="col-sm col-md offset-sm-1 mt-2 bg-white shadow-sm">
                <div class="d-flex align-items-center p-3">
                    <div>
                        <p class="text-muted">In-active Users</p>
                        <h5>{{inactive_users}}</h3>
                    </div>
                    <div class="ml-auto rounded" style="width: 50px; height: 50px; background-color: #FFF9B0;">
                        <h1 class="m-0 text-center text-warning" style="line-height: 60px;">
                            <i class='bx bx-user-x'></i>
                        </h1>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="table-responsive mt-5 bg-white shadow-sm p-2">
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Restaurant Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Total menus</th>
                    <th scope="col">Total scans</th>
                  </tr>
                </thead>
                <tbody>
                  {%for rest_user in users%}
                    <tr>
                        <td>{{rest_user.name}}</td>
                        <td>{{rest_user.user.email}}</td>
                        <td>{{rest_user|total_menu}}</td>
                        <td>{{rest_user|total_scan}}</td>
                    </tr>
                  {%endfor%}
                  
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-center">
                            <a href="{%url 'qradmin-accounts'%}" class="btn btn-outline-primary">Show more</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{%endblock%}